.signup {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: #0A0A4A;
}


.signup-form {
    padding: 20px 30px;
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background-color: #03035b;
}

@media (max-width: 600px) {
    .signup-form {
        background-color: transparent; 
    }
}

.signup-form h2 {
    font-weight: 500;
}

.form-input {
    padding: 15px 12px;
    border-radius: 10px;
    background: transparent; 
    outline: none; 
    color: white; 
    border: 2px solid red;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    color: red;
}

.form-input::placeholder {
    color: white;
}

.form-button {
    padding: 15px 12px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: red;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease; 
}

.form-button:hover {
    background: darkred; 
}

.form-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.signup-checkbox {
    width: 20px;
}

.checkbox-text {
    font-size: 12px; /* Adjust to desired size */
    font-weight: normal; /* Ensure font weight is applied */
}


.signup-forgot {
    display: flex;
    gap: 10px;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
    font-weight: light;
    font-size: small;
}

.signup-forgot span {
    color: red;
}

.signup-forgot span a {
    color: red;
    text-decoration: none;
  }

  .error {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 13px;
  }

  .input-container {
    position: relative;
  }

